* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}
header {
  display: flex;
}
#btn-menu {
  display: none;
}
header label {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
}
label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.contenedor-header {
  width: 100%;
  height: 100vh;
  background-image: url(../imagenes/nenesacerca.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.nav img {
  width: 200px;
  padding: 0;
  margin: -90px 0 0 0;
  float: left;
}

.nav {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 30px 50px 35px 0;
  background-color: #fff;
  box-shadow: 1px 1px 20px rgb(85, 85, 85);
  position: fixed;
  z-index: 100;
}

.nav-texto {
  color: #8f0982;
  font-weight: 300;
  margin: 30px;
  width: 100px;
  font-size: 22px;
}
.nav-texto:hover {
  opacity: 0.3;
}

.acerca {
  padding: 60px 0 0 30px;
}
.acerca h1 {
  color: #fff;
  background: #00a893;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
}
.quienes-somos {
  width: 100%;
  height: 500px;
  display: flex;
}
.p-quienes-somos {
  text-align: left;
  line-height: 28px;
  margin: 70px 250px 90px 50px;
}

.img-quienes-somos {
  width: 500px;
  height: 500px;
}
.contendor-v-m {
  padding: 60px 0 60px 0;
}

.contendor-v-m h2 {
  color: #fff;
  background: #00a893;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
}
.contendor-v-m p {
  text-align: left;
  line-height: 28px;
  margin: 70px 600px 90px 50px;
}

.mapa {
  width: 100%;
  height: 50vh;
  border: 2px solid #a4a4a4;
}
.mapa img {
  width: 50%;
  height: 500px;
  position: absolute;
}
.mapa-m {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background: #d1f3f2;
  height: 440px;
  width: 100%;
}

.contenedor-footer {
  width: 100%;
  height: 440px;
  display: flex;
}
.img-footer {
  width: 33%;
  height: 440px;
  padding: 0 200px 0 100px;
}
.img-footer img {
  width: 130px;
}
.img-footer img:nth-child(1) {
  width: 80px;
  height: 220px;
  margin-bottom: 40px;
}

.foo-nav {
  width: 20%;
  height: 440px;
  text-align: left;
  padding-top: 60px;
}
.foo-nav a {
  line-height: 50px;
  color: #8f0982;
  font-weight: 400;
}
.foo-nav a:hover {
  opacity: 0.8;
}
.foo-info {
  width: 50%;
  height: 440px;
  margin-left: 100px;
}
.foo-info h4 {
  margin: 30px 0 0 20px;
}
.foo-info- {
  width: 500px;
  height: 210px;
  margin-top: 30px;
  border: 6px dashed #fff;
  border-radius: 5%;
  line-height: 30px;
}

.foo-info > .niños {
  margin-top: 9px;
  width: 500px;
}
.icono {
  width: 40px;
  transform: translateY(10px);
}
.icono:hover {
  opacity: 0.5;
}

.over {
  color: #f5f5f5;
  margin-bottom: -30px;
}
.over:hover {
  color: #8a8686;
}

.titulo-final h4 {
  color: #f5f5f5;
  text-align: center;
  background: #000;
}

@media screen and (max-width: 900px) {
  .contenedor-header {
    background-attachment: local;
    background-size: cover;
    height: 70vh;
    width: 100%;
    margin: auto;
  }
  header label {
    display: flex;
    z-index: 300;
    margin: 10px 0 0 10px;
    position: absolute;
  }
  .nav {
    background: #fff;
    position: static;
    width: 100%;
    height: 70px;
    opacity: 1;
    transition: all 0.8s;
    margin-top: -1000px;
  }
  .nav img {
    display: none;
  }
  .nav-texto {
    font-size: 15px;
    margin: 0 15px 0 0;
    width: 50px;
    height: 20px;
    color: #8f0982;
    opacity: 0.5;
    border-right: 1px solid #000;
    padding-right: 1px;
  }
  #btn-menu:checked ~ .nav {
    margin: 0;
    transition: all 0.8s;
  }

  .acerca {
    padding: 0;
  }
  .acerca h1 {
    font-size: 20px;
  }
  .quienes-somos {
    height: 600px;
  }
  .p-quienes-somos {
    line-height: 20px;
    margin: 70px 0 0 10px;
  }

  .contendor-v-m {
    padding: 0;
  }
  .contendor-v-m p {
    text-align: left;
    line-height: 28px;
    margin: 15px 20px 15px 50px;
  }

  footer {
    height: 450px;
  }
  .foo-info- {
    width: 100%;
    height: 220px;
  }
  .info-face {
    margin: 0;
  }

  .foo-info > .niños {
    margin-top: 65px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .nav {
    padding: 15px 0 0 30px;
    height: 50px;
  }
  .nav-texto {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  .acerca h1 {
    font-size: 15px;
  }
  .quienes-somos {
    height: 600px;
  }
  .img-quienes-somos {
    margin-top: 150px;
    width: 300px;
    height: 200px;
  }
  .p-quienes-somos {
    font-size: 12px;
    line-height: 20px;
  }
  .contendor-v-m h2 {
    font-size: 15px;
  }
  .contendor-v-m p {
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    margin: 15px 20px 15px 50px;
  }

  footer {
    height: 340px;
  }
  .contenedor-footer {
    width: 100%;
    height: 340px;
    display: flex;
  }
  .img-footer {
    width: 70px;
    height: 70px;
    padding: 0;
  }
  .img-footer img {
    width: 70px;
  }
  .img-footer img:nth-child(1) {
    width: 50px;
    height: 100px;
    margin-bottom: 40px;
  }
  .foo-nav {
    margin-left: 20px;
    width: 50px;
    text-align: left;
    height: 320px;
  }
  .foo-nav a {
    line-height: 50px;
    color: #8f0982;
    font-size: 10px;
  }
  .foo-nav a:hover {
    opacity: 0.8;
  }
  .foo-info {
    width: 50%;
    height: 330px;
    margin-left: 50px;
  }
  .foo-info h4 {
    margin: 30px 0 0 20px;
  }
  .foo-info- {
    font-size: 10px;
    width: 230px;
    height: 170px;
  }

  .foo-info > .niños {
    margin-top: 20px;
    width: 220px;
  }
  .icono {
    width: 20px;
    transform: translateY(10px);
  }
  .titulo-final h4 {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .quienes-somos {
    height: 550px;
  }
  .img-quienes-somos {
    margin-top: 150px;
    width: 200px;
    height: 105px;
  }

  .foo-info- {
    margin-left: -50px;
    width: 180px;
  }
  .foo-info > .niños {
    margin-top: 60px;
    width: 120px;
  }
}
